@model healB.Models.medicine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>medicine</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.medicine_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.medicine_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dosage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dosage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.time.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.time.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.start_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.start_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.end_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.end_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.is_prescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.is_prescription)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.medicine_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
